repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4  # keep in sync with your ruff version range
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        additional_dependencies: [pandas-stubs, types-requests]
        pass_filenames: false
        args:
          - --config-file=pyproject.toml
          - src
